body {
    background: #8b8b8b;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-left: 20px;
    font-weight: bold;
}

header {
    background: #707070;
    padding: 20px 0;
}

.caixa {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

main {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

#titulo1 {
    padding-top: 1em;
}

nav {
    position: absolute;
    top: -3px;
    right: 20px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #ff00bf;
    text-decoration: underline;
}

.grafico {
    padding: 3em 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.grafico-campo {
    width: 49%;
    margin: 1%;
}

@media (max-width: 620px) {
    body {
        width: 620px;
        font-size: 1.25em;
    }
    .grafico {
        display: block;
    }
    .grafico-campo {
        width: 99%;
        margin: 1%;
    }
    .grafico-conteudo {
        width: 100%;
    }
    ul {
        display: none;
    }
}


/*
.grafico-conteudo {
    width: 940px;
    margin: 0 auto;
}*/

.grafico p {
    margin: 0 0 2em;
    text-align: center;
}

.grafico-campo p {
    margin: 0 0 2em;
    text-align: center;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    margin: 20px 0 0;
}

.copyright a {
    color: #ff00bf;
}